<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title><%= __('common.appname') %></title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
<script src="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

<link href="/colorbox.css" rel="stylesheet"/>
<script src="/jquery.colorbox-min.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="<%= __('common.appname') %>"/>

<!-- // OGP tags -->
<meta property="og:title" content="<%= __('common.appname' ) %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://doodleshareex.yellowmix.net/"/>
<meta property="og:image" content="https://doodleshareex.yellowmix.net/icon.png"/>
<meta property="og:site_name" content="<%= __('common.appname') %>"/>
<meta property="og:description" content="<%= __('common.appname') %>"/>
<!-- OGP tags // -->

<!-- // Twitter Card -->
<meta name="robots" content="max-image-preview:large" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@dotnsf"/>
<meta name="twitter:creator" content="@dotnsf"/>
<meta name="twitter:url" content="https://doodleshareex.yellowmix.net/"/>
<meta name="twitter:image:src" content="https://doodleshareex.yellowmix.net/icon.png"/>
<meta name="twitter:title" content="<%= __('common.appname') %>"/>
<meta name="twitter:description" content="<%= __('common.appname') %>"/>
<link rel="alternate" media="handheld" type="application/xhtml+xml" href="https://doodleshareex.yellowmix.net/" />
<!-- Twitter Card // -->

<script>
$(function(){
});
</script>

<style type="text/css">
html, body{
  /*text-align: center;*/
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}

.about{
  margin-bottom: 20px;
}

.about-image{
  width: 80%;
  margin-bottom: 20px;
}

.under-construction{
  color: #c00;
  text-align: center;
}
</style>
</head>
<body>

<h1 style="text-align: center"><%= __('common.appname') %></h1>

<div class="container">
  <div class="about">
    お絵描きライブはユーザーのスマートフォンをお絵描きボードとして使い、複数のユーザーが手描きしたお絵描きをリアルタイムに共有するサービスです：
  </div>
  <div style="text-align: center">
    <img src="imgs/doodlelive01.png" class="about-image"/>
  </div>
  <div class="about">
    参加するユーザーはお絵描き共有画面に表示されている QR コードから参加できます。特定の場所に集まる必要がなく、LINE や Webex、Teams などの各種ウェブ共有画面を併用することでリモートに参加することもできます。
  </div>
  <div class="about">
    お絵描きライブを開催するには <b>「部屋」</b> の名前を指定して、お絵描き共有画面を作成していただく必要があります。お絵描きライブに参加するユーザーは開催者が指定した URL の共有画面に表示されている QR コードにスマートフォンからアクセスするだけです。
  </div>
  <div class="about">
    例えば以下の URL は最後に "room=test" というパラメータが付与されています。この "test" が部屋の名前です。以下の URL にアクセスすると "test" 部屋でお絵描きライブを開催することになります（クリックすると新しいタブで開きます）：<br/>
    <a target="_blank" href="https://doodleshareex.yellowmix.net/view?room=test">https://doodleshareex.yellowmix.net/view?room=test</a>
  </div>
  <div class="about">
    お絵描きライブに参加するユーザーは原則無料です（開催側が参加者に別途参加料を徴収する場合は例外ですが、その徴収方法は提供していません。別途ご用意いただく必要があります）。
  </div>
  <div style="height: 30px;">
  </div>
  <div class="about">
    <h2 class="under-construction">（以下の機能は今後実装予定です）</h2>
  </div>
  <div class="about">
    お絵描きライブを開催する場合、管理画面や開催部屋にパスワードなどを設定しなくてもよい場合（＝誰でも参加可能な場合、誰が参加してもいい場合）は無料でご利用いただけます。
    管理画面や開催部屋にパスワードを設定して、特定のユーザーだけが参加できるようにする場合、部屋ごとに利用料がかかり、PayPay で支払う必要があります。
  </div>
  <div class="about">
    無料の部屋で開催した場合、参加者が記録した画像は公開させていただきますことをご了承ください。
  </div>
  <div class="about">
    無料の部屋で開催した場合、部屋の名称がシンプルだと他の開催者と被ってしまう可能性が高まります。
    そのような状況を防ぎたい場合は有料の、パスワードで守られた部屋を予約することを推奨します。
    なお既に誰かが予約した部屋の名前を別の人が予約することはできません。「早いもの勝ち」です。
    また誰かが既に開催済みの無料部屋の名前を、別の人が有料部屋として予約することが可能です。その場合、それまで使っていた無料部屋は（パスワードが設定されてしまう可能性が高いので）実質的には使えなくなってしまいます。
    確実に使える部屋（の名前）をあらかじめ登録しておきたい場合は有料部屋の利用を検討ください。
  </div>
  <div class="about">
    <h2 class="under-construction">（以上の機能は今後実装予定です）</h2>
  </div>
</div>

</body>
</html>
