<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title><%= __('common.appname') %>(<%= room %>)</title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<script src="/qrcode.min.js"></script>

<link href="/colorbox.css" rel="stylesheet"/>
<script src="/jquery.colorbox-min.js"></script>
<script src="/common.js"></script>

<link rel="shortcut icon" href="/icon.png" type="image/png"/>
<link rel="icon" href="/icon.png" type="image/png"/>
<link rel="apple-touch-icon" href="/icon.png"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="<%= __('common.appname') %>"/>

<!-- // OGP tags -->
<meta property="og:title" content="<%= __('screen.head.title') %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://doodleshareex.yellowmix.net/"/>
<meta property="og:image" content="https://doodleshareex.yellowmix.net/icon.png"/>
<meta property="og:site_name" content="<%= __('common.appname') %>"/>
<meta property="og:description" content="<%= __('screen.head.title') %>"/>
<!-- OGP tags // -->

<!-- // Twitter Card -->
<meta name="robots" content="max-image-preview:large" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@dotnsf"/>
<meta name="twitter:creator" content="@dotnsf"/>
<meta name="twitter:url" content="https://doodleshareex.yellowmix.net/"/>
<meta name="twitter:image:src" content="https://doodleshareex.yellowmix.net/icon.png"/>
<meta name="twitter:title" content="<%= __('common.appname') %>"/>
<meta name="twitter:description" content="<%= __('screen.head.title') %>"/>
<link rel="alternate" media="handheld" type="application/xhtml+xml" href="https://doodleshareex.yellowmix.net/" />
<!-- Twitter Card // -->

<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
.mycanvas{
  border: 1px solid #333;
}
.card-columns{
  column-count: 1;
}
.card-group .card{
  max-width: calc(100%);
}
#subject{
  color: #008;
  font-size: 20px;
  font-weight: bold;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><%= __('common.appname') %></a>
    <ul class="navbar-nav mr-auto">
    </ul>

    <!-- 右寄 -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/auth"><%= __('top.nav.prime') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><%= __('top.nav.about') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sct"><%= __('top.nav.sct') %></a>
      </li>
    </ul>
  </div>
</nav>

<% if( quiz ){ %>
<div align="right">
  <select id="point_ranking"></select>
  <a class="btn btn-success" id="reset_button" href="#" title="" onClick="resetCards();"><%= __('server.button.reset') %></a>
</div>
<% } %>

<a target="new_" href="/savedimages?room=<%= room %>">
<canvas id="qrcode"></canvas>
</a>

<div id="card-groups">
  <!-- 
  <div class="card-group" id="cards-1">
  </div>
  -->
  <div class="row" id="cards-0">
  </div>
</div>

<div style="display:none;">
  <div id="box_content">
  </div>
</div>

<script>
var uuid = generateUUID();

var socket_ids = [];
var ws = null;

var base_url = location.origin + '/';

var cards = [];    //. カード
var imgs = {};     //. 画像データ

var room = '<%= room %>';
var client = '<%= client %>';
var quiz = <%= quiz %>;  //. #63
var sort = '<%= sort %>';  //. #64

//. #63
var quiz_points = {};
if( quiz ){
  //. 各描画ボックス内に点数を表示する
}

$(function(){
  init();

  QRCode.toCanvas( document.getElementById( 'qrcode' ), base_url + 'index?room=' + room + '&client=' + client, function( err ){
    if( err ){ console.log( err ); }
  });

  //. Redis 対応
  ws = location.protocol.indexOf( 'https' ) > -1 ? ( new WebSocket( `wss://${location.host}` ) ) : ( new WebSocket( `ws://${location.host}` ) );
  ws.onopen = function(){
    //. 接続できた時
  };
  ws.onmessage = function( message ){
    var data = JSON.parse( message.data )
    //console.log( data );  //. { message: '{\"uuid\":\"xx\",\"comment\":\"\",\"timestamp\":16xx,\"image_src\":\"data:image/png;base64,iVBORw..\" }' }
    var msg = data.message; //JSON.parse( data.message );

    if( !room || room == msg.room ){
      var socket_id = msg.uuid;
      if( socket_ids.indexOf( socket_id ) == -1 ){
        //. 一覧に追加
        socket_ids.push( socket_id );

        //. #63
        quiz_points[socket_id] = 0;

        var color = generateColor( msg.uuid /* msg.name */ );
        //var row = addCardGroups( socket_ids.length );
        var cols = countCardCols( socket_ids.length );  //. #9
        if( cols > 0 ){
          var card = '<div id="card_' + socket_id + '" class="card border-' + color + '" style="cursor: pointer;">'
            + '<div class="card-body text-' + color + '">'
            + '<h4 id="card_title_' + socket_id + '" title="0" class="card-title">'
            + msg.name + '</h4>'
            + '</div>'
            + '<a href="#box_content" id="box_content_' + socket_id + '" title="' + msg.name + '">'
            + '<img class="card-img-bottom" id="image_' + socket_id + '" alt="(image of ' + msg.name + ')" ts="' + msg.timestamp + '"/>'
            + '</a>'
            + '</div>';
          $('#cards-0').append( card );

          //. #63
          if( quiz ){
            $('#card_title_'+socket_id).click( function(){
              var marked = $(this).attr( 'title' );
              if( typeof marked == 'string' ){ marked = parseInt( marked ); }
              if( typeof point == 'string' ){ point = parseInt( point ); }

              var id = $(this).prop( 'id' );
              var tmp = id.split( '_' );
              var s_id = tmp[2];

              var b = $('#card_'+s_id).css( 'border' );
              tmp = b.split( ' ' );
              var idx = -1;
              for( var i = 0; i < tmp.length && idx == -1; i ++ ){
                if( tmp[i].indexOf( 'px' ) > -1 ){
                  idx = i;
                }
              }

              if( idx > -1 ){
                if( tmp[idx].endsWith( 'px' ) ){
                  var n = tmp[idx].indexOf( 'px' );
                  var t = parseFloat( tmp[idx].substr( 0, n ) );
                  if( t < 1 ){
                    tmp[idx] = "10px";
                    quiz_points[s_id] ++;
                    marked = 1;
                  }else{
                    tmp[idx] = "1px";
                    quiz_points[s_id] --;
                    marked = 0;
                  }
                  b = tmp.join( ' ' );
                }
                $('#card_'+s_id).css( 'border', b );
              }

              marked = '' + marked;
              $(this).attr( 'title', marked );

              //. 得点を集計して #reset_button の title へ
              var ids = Object.keys( quiz_points );
              var ranks = [];
              for( var i = 0; i < ids.length; i ++ ){
                var obj = { id: ids[i], name: $('#card_title_'+ids[i]).text(), point: quiz_points[ids[i]] };
                ranks.push( obj );
              }

              ranks.sort( sortByPointRev );

              //. #63 集計結果をどこに表示するべきか・・
              var point_ranking = '<option selected><%= __("server.select.point_ranking") %></option>';
              var lines = '';
              for( var i = 0; i < ranks.length; i ++ ){
                var rank = ( i + 1 );

                if( i > 0 && ranks[i].point == ranks[i-1].point ){
                  rank = ranks[i-1].rank;
                }
                ranks[i].rank = rank;
                var line = '(' + rank + ') ' + ranks[i].name + ' : ' + ranks[i].point;

                if( i > 0 ){ lines += '\n'; }
                lines += line;

                point_ranking += '<option>' + line + '</option>';
              }
              
              $('#reset_button').prop( 'title', lines );
              $('#point_ranking').html( point_ranking );
            });
          }

          //. カラム数を指定(#9)
          $('.card').removeClass( 'col-1' );
          $('.card').removeClass( 'col-2' );
          $('.card').removeClass( 'col-3' );
          $('.card').removeClass( 'col-4' );
          $('.card').addClass( 'col-' + cols );

          //. クラスでまとめて ColorBox の指定
          $('.card-img-bottom').colorbox({ href: '#box_content', inline: true, transition: 'none', width: '90%', onOpen: function(){ var socket_id = $(this).prop( 'id' ).substr( 6 ); zoomImage( socket_id ); }, onClosed: function(){ $('#box_content').html( '' ); } });
        }
      }

      //. 描画
      var ts = $('#image_'+socket_id).attr( 'ts' );
      ts = parseInt( ts );

      //. 古いデータが遅れてきた場合は更新しない
      if( msg.timestamp >= ts ){
        $('#image_'+socket_id).prop( 'src', msg.image_src );
        $('#image_'+socket_id).prop( 'title', msg.comment );
        $('#image_'+socket_id).prop( 'ts', msg.timestamp );

        //. 拡大中のデータだった場合は、拡大画面内容にも反映する
        var zoom_socket_id = $('#zoom_image').attr( 'socket_id' );
        if( zoom_socket_id && zoom_socket_id == socket_id ){
          $('#zoom_image').prop( 'src', msg.image_src );
        }
      }
    }
  };
  ws.onclose = function( event ){
    ws = null;
  };
  ws.onerror = function( event ){
  };
});

function init(){
  //. リサイズ時
  //$(window).on( 'load resize', function(){
    resized();  //. 実質不要？
  //});
}

function resized(){
  var browserWidth = window.innerWidth;
  var browserHeight = window.innerHeight;
}


function generateColor( name ){
  var arr = [ 'primary', 'secondary', 'success', 'danger', 'warning', 'info', /*'light',*/ 'dark' ];
  var r = 0;
  for( var i = 0; i < name.length; i ++ ){
    var c = name.charCodeAt( i );
    r += c;
  }
  r = r % arr.length;

  return arr[r];
}

function removeCard( card_id ){
  $('#'+card_id).css( 'display', 'none' );

  //. card_id = 'card_XXXXXX';
  var socket_id = card_id.substr( 6 );
  if( imgs[socket_id] ){
    delete imgs[socket_id];
  }

  var b = true;
  for( var i = 0; i < cards.length && b; i ++ ){
    var card = cards[i];
    if( card.indexOf( 'card_' + socket_id ) > -1 && card.indexOf( 'image_' + socket_id ) > -1 ){
      cards.splice( i, 1 );
      b = false;
    }
  }
}

function zoomImage( socket_id ){
  if( socket_id ){
    $('#box_content').html( '<img id="zoom_image" socket_id="' + socket_id + '" src="' + $('#image_'+socket_id).prop( 'src' ) + '"/>' );
  }
}


function addCardGroups( num ){
  //. num: ソケットに接続しているクライアント数
<% if( columns > 0 ){ %>
  //. columns: 明示的に指定された列数
  var setRow = Math.ceil( num / <%= columns %> ); //. 行数
  var m = num % <%= columns %>;
  if( m == 1 ){
    //. 新しい行が必要になったので追加
    $('#card-groups').append( '<div class="card-group" id="cards-' + setRow + '"></div>' );
  }
<% }else{ %>
  var newRows = [ 0, 1, 3, 7, 13, 21, 31, 43, 57, 73 ];
  var setRows = [ 0, 1, 1, 2, 2, 1, 2, 3, 3, 3, 1, 2, 3, 4, 4, 4, 4, 1, 2, 3, 4, 5, 5, 5, 5, 5, 1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 6, 1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 7, 7, 7, 1, 2, 3, 4, 5, 6, 7, 8, 8, 8, 8, 8, 8, 8, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9 ];
  var setRow = -1;
  if( num > 91 ){
    //. 92 クライアント以上の場合は 10 列で固定
    setRow = Math.ceil( num / 10 );
    var m = num % 10;
    if( m == 1 ){
      //. 新しい行が必要になったので追加
      $('#card-groups').append( '<div class="card-group" id="cards-' + setRow + '"></div>' );
    }
  }else{
    setRow = setRows[num];  //. 列数を setRows 配列から取得
    if( newRows.indexOf( num ) > -1 ){
      //. newRows 配列内にあるデータ数値のタイミングで行を追加
      $('#card-groups').append( '<div class="card-group" id="cards-' + setRow + '"></div>' );
    }
  }
<% } %>

  return setRow;
}

function countCardCols( num ){
  var cols = 4;
  if( num > 6 ){
    cols = 3;
  }
  if( num > 12 ){
    cols = 2;
  }
  if( num > 30 ){
    cols = 1;
  }

  return cols;
}


//. num 個の要素をなるべく正方形に近い表形式の card-group 化する
function appendCardGroups( cardgroups_selector, num ){
  //. 近づける正方形の一辺の長さ
  var m = Math.ceil( Math.sqrt( num ) );
  //. m 個の card-group が必要
  for( var i = 0; i < m; i ++ ){
    $(cardgroups_selector).append( '<div class="card-group" id="cards-' + i + '">' );
  }
  //. ( m * m ) の正方形の中に表示する
  for( var i = 0; i < num; i ++ ){
    var card = cards[i];
    var row = Math.floor( i / m );
    $('#cards-'+row).append( card );
  }

  //. クラスでまとめて ColorBox の指定
  $('.card-img-bottom').colorbox({ href: '#box_content', inline: true, transition: 'none', width: "90%", innerHeight: "90%", onOpen: function(){ var socket_id = $(this).prop( 'id' ).substr( 6 ); zoomImage( socket_id ); }, onClosed: function(){ $('#box_content').html(''); } });

  if( num % m ){
    var row = Math.floor( num / m );
    for( var i = num; i % m > 0; i ++ ){
      var dummycard = '<div class="card"></div>';
      $('#cards-'+row).append( dummycard );
    }
  }

  //. 画像再描画
  Object.keys( imgs ).forEach( function( socket_id ){
    var img = imgs[socket_id];
    //console.log( 'appendCardGroups: socket_id = ' + socket_id, img );

    $('#image_'+socket_id).prop( 'src', img.src );
    $('#image_'+socket_id).prop( 'title', img.title );
    $('#image_'+socket_id).prop( 'ts', img.ts );
  });
}

function resetCards(){
  $('div.card').css( 'border-width', '1px' );
}

function sortByPointRev( a, b ){
  var r = 0;
  if( a.point < b.point ){
    r = 1;
  }else if( a.point > b.point ){
    r = -1;
  }

  return r;
}
</script>
</body>
</html>
