<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title><%= __('common.appname') %></title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
<script src="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

<link href="/colorbox.css" rel="stylesheet"/>
<script src="/jquery.colorbox-min.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="<%= __('common.appname') %>"/>

<!-- // OGP tags -->
<meta property="og:title" content="<%= __('common.appname') %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://doodleshareex.yellowmix.net/"/>
<meta property="og:image" content="https://doodleshareex.yellowmix.net/icon.png"/>
<meta property="og:site_name" content="<%= __('common.appname') %>"/>
<meta property="og:description" content="<%= __('common.appname') %>"/>
<!-- OGP tags // -->

<!-- // Twitter Card -->
<meta name="robots" content="max-image-preview:large" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@dotnsf"/>
<meta name="twitter:creator" content="@dotnsf"/>
<meta name="twitter:url" content="https://doodleshareex.yellowmix.net/"/>
<meta name="twitter:image:src" content="https://doodleshareex.yellowmix.net/icon.png"/>
<meta name="twitter:title" content="<%= __('common.appname') %>"/>
<meta name="twitter:description" content="<%= __('common.appname') %>"/>
<link rel="alternate" media="handheld" type="application/xhtml+xml" href="https://doodleshareex.yellowmix.net/" />
<!-- Twitter Card // -->

<script>
$(function(){
  var images = [];
  $.ajax({
    type: 'GET',
    url: '/db/publicimages?limit=10',
    success: function( result ){
      if( result && result.status ){
        for( var i = 0; i < result.images.length; i ++ ){
          images.push( result.images[i] );
        }
        redrawImages( images );
      }
    },
    error: function( e0, e1, e2 ){
      console.log( e0, e1, e2 );
    }
  });
});

function redrawImages( images ){
  if( images && images.length > 0 ){
    for( var i = 0; i < images.length; i ++ ){
      var image = images[i];

      var tbl = '<table>'
      + '<tr>' 
      + '<td width="60%" style="virtical-align: top;">'
      + '<b>' + image.name + '</b><br/>'
      + '<img class="image-border" src="/db/image?id=' + image.id + '" title="' + image.room + '" width="80%"/>'
      + '<div style="text-align: right">'
      + timestamp2datetime( image.created )
      + '</div>'
      + '</td>'
      + '</tr>' 
      + '</table>';
      $('#image-tables').append( tbl );
    }
  }
}

function launchView(){
  var room = $('#roomname').val();
  if( room ){
    var url = 'https://doodleshareex.yellowmix.net/view?room=' + room;
    window.open( url );
  }
}

function timestamp2datetime( ts ){
  if( ts ){
    if( typeof ts == 'string' ){
      ts = parseInt( ts );
    }
    var dt = new Date( ts );
    var yyyy = dt.getFullYear();
    var mm = dt.getMonth() + 1;
    var dd = dt.getDate();
    var hh = dt.getHours();
    var nn = dt.getMinutes();
    var ss = dt.getSeconds();
    var datetime = yyyy + '-' + ( mm < 10 ? '0' : '' ) + mm + '-' + ( dd < 10 ? '0' : '' ) + dd
      + ' ' + ( hh < 10 ? '0' : '' ) + hh + ':' + ( nn < 10 ? '0' : '' ) + nn + ':' + ( ss < 10 ? '0' : '' ) + ss;
    return datetime;
  }else{
    return "";
  }
}
</script>

<style type="text/css">
html, body{
  /*text-align: center;*/
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}

.image-border{
  padding: 2px;
  border: 5px solid #e8bf85;
  box-shadow: 1px 1px 3px #999;
}

.under-construction{
  color: #c00;
  text-align: center;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="#"><%= __('common.appname') %></a>
    <ul class="navbar-nav mr-auto">
    </ul>

    <!-- 右に寄ってほしい・・・ -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/auth"><%= __('top.nav.prime') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><%= __('top.nav.about') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sct"><%= __('top.nav.sct') %></a>
      </li>
      <li class="nav-item">
        <form class="form-inline">
          <input class="form-control mr-sm-2" id="roomname" type="text" placeholder="room" aria-label="room"/>
          <button class="btn btn-warning" onClick="launchView();"><%= __('top.nav.launch') %></button>
        </form>
      </li>
    </ul>
  </div>

  </div>
</nav>
  
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-sm-12 col-md-8" id="image-tables">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

</body>
</html>
